/* ================ OPTIONAL ================ */

@import url("http://fonts.cdnfonts.com/css/roboto");

:root {
  --background: rgba(12, 36, 97, 0.85);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* ================ NAVBAR ================ */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

h1 {
  color: white;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--background);
  width: 100%;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding: 1em 1em;
}

nav li:hover {
  background-color: rgba(106, 137, 204, 1);
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  opacity: 0;
}
.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  padding: 0 1rem;
  line-height: 5.5rem;
  color: white;
}

@media only screen and (min-width: 768px) {
  .nav-toggle-label {
    opacity: 0;
  }

  nav {
    all: unset;
    margin-right: 5em;
  }

  nav ul {
    text-align: end;
  }

  nav li {
    display: inline;
    padding: 2em 1em;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  h1 {
    text-align: left;
    padding: 0 1em;
  }
}
